/* * Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* * Css Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
}

/* * Global Styles */
body {
  font-family: "Poppins", sans-serif;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  min-height: 100vh;
}

/* Wrapper */
.wrapper {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 265px);
  gap: 25px;
}
.wrapper .add-box,
.note {
  background-color: white;
  height: 250px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 15px 20px 20px;
  cursor: pointer;
}
.wrapper .add-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #c850c0;
}
.wrapper .add-box .icon {
  border: 2px dashed #c850c0;
  height: 78px;
  width: 78px;
  display: grid;
  place-items: center;
  font-size: 40px;
  border-radius: 50%;
}
.wrapper .add-box p {
  margin-top: 20px;
  font-weight: 500;
}
.wrapper .note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wrapper .note .details {
  max-height: 165px;
  overflow-y: auto;
}
.wrapper .note .details .note-title {
  font-size: 25px;
}

.wrapper .note .details .note-description {
  color: #575757;
  font-size: 16px;
  margin-top: 5px;
}
.wrapper .note .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 1px solid #ccc;
}
.wrapper .note .bottom .date {
  font-size: 14px;
  color: #6d6d6d;
}
.wrapper .note .bottom .settings {
  position: relative;
}
.wrapper .note .bottom .settings i {
  color: #6d6d6d;
  cursor: pointer;
  font-size: 17px;
}
.wrapper .note .bottom .settings .menu {
  position: absolute;
  right: -55px;
  bottom: -10px;
  background-color: white;
  padding: 5px 0;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  scale: 0;
  transition: all 0.5s ease;
}
.wrapper .note .bottom .settings.show .menu {
  scale: 1;
}
.wrapper .note .bottom .settings .menu li {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 25px;
  font-size: 16px;
  cursor: pointer;
  padding: 15px;
  transition: all 0.5s ease;
}
.wrapper .note .bottom .settings .menu li:hover {
  background-color: #f5f5f5;
}

/* * Popup */
.popup-box,
.popup {
  display: none;
}
.popup-box.show,
.popup.show {
  display: block;
}
.popup-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 400px;
  background-color: white;
  width: 100%;
}

.popup header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 15px 25px;
}
.popup header h1 {
  font-size: 20px;
  font-weight: 400;
}
.popup header i {
  font-size: 25px;
  cursor: pointer;
}

.popup form {
  padding: 15px 25px 35px;
}
.popup form .row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.popup form .row label {
  font-size: 18px;
  margin-bottom: 6px;
}

.popup form .row :where(input, textarea) {
  border: 1px solid #999;
  height: 50px;
  width: 100%;
  border-radius: 5px;
  text-indent: 15px;
}
.popup form .row :where(input, textarea):focus {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.11);
}
.popup form .row textarea {
  resize: none;
  height: 150px;
  padding: 10px 0;
}
.popup form button {
  background-color: #c850c0;
  width: 100%;
  height: 50px;
  color: white;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.popup form button:hover {
  background-color: #c850c0c1;
}
