.products {
  // Heading
  .heading {
    text-align: center;
    margin: 30px 0;
    font-size: 64px;
  }

  // Container
  .product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
    .product-card {
      // Image
      img {
        width: 100%;
        height: 450px;
        object-fit: cover;
      }
      // Product Info
      .product-info {
        margin: 10px 0;
        display: flex;
        flex-direction: column;
        gap: 15px;

        // Title
        .product-title {
          font-size: 25px;
          color: $text-color;
          font-weight: 500;
        }
        // Price
        .product-price {
          font-size: 20px;
          color: $main-color;
          font-weight: bold;
        }

        // Button
        .add-to-cart-button {
          background-color: $main-color;
          color: $bg-color;
          padding: 10px;
          cursor: pointer;
          font-weight: 500;
          font-size: 15px;
          transition: all 0.5s;
          &:hover {
            background-color: #273da1d1;
          }
        }
      }
    }
  }
}
