// * Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap");

// * Css Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: none;
}

// * Scss Imports
@import "./variables";
@import "./responsive";
@import "./header";
@import "./home";
@import "./products";

// * Global Styles
body {
  font-family: "Big Shoulders", sans-serif;
  background-color: $bg-color;
  color: $text-color;
}

.container {
  max-width: 1070px;
  width: 100%;
  margin: auto;
}
